[Desktop Entry]
Encoding=UTF-8
Name=Spacehulk
Comment=The Spacehulk board game
Comment[pl]=Spacehulk - gra planszowa
Icon=spacehulk.png
Exec=qspacehulk
Terminal=false
Type=Application
Categories=Qt;Application;Game;BoardGame;
# vi: encoding=utf-8
